.DS_Store
*.ipynb_checkpoints
src/___pycache__/
*.pyc
__pycache__/
scripts/cache
src/cache
.vscode/settings.json
/src/___pycache__/
images/abstract_illustration.png
tests/component_edges.gpkg
tests/grid_component_test.gpkg
results/
data/OSM/
data/REFERENCE/cph_geodk/processed
exports/cph_geodk/html/1a.html
exports/cph_geodk/html/1b.html
exports/cph_geodk/html/2a.html
exports/cph_geodk/html/2b.html
exports/cph_geodk/html/3a.html
exports/cph_geodk/html/3b.html
exports/cph_geodk/html/appendix_a.html
exports/cph_geodk/html/footer_template.html
exports/cph_geodk/html/header_template.html
exports/cph_geodk/html/preamble.html
exports/cph_geodk/html/titleimage.svg
exports/cph_geodk/html/titlepage.html
exports/cph_geodk/pdf/1a.pdf
exports/cph_geodk/pdf/1b.pdf
exports/cph_geodk/pdf/2a.pdf
exports/cph_geodk/pdf/2b.pdf
exports/cph_geodk/pdf/3a.html
exports/cph_geodk/pdf/preamble.pdf
exports/cph_geodk/pdf/titlepage.pdf
exports/cph_geodk/pdf/report_lowres.pdf
exports/cph_geodk/pdf/3a.pdf
exports/cph_geodk/pdf/3b.pdf
exports/cph_geodk/pdf/appendix_a.pdf
