.DS_Store
*.ipynb_checkpoints
src/___pycache__/
*.pyc
__pycache__/
scripts/cache
src/cache
.vscode/settings.json
/src/___pycache__/
images/abstract_illustration.png
tests/component_edges.gpkg
tests/grid_component_test.gpkg
results/
data/OSM/
data/REFERENCE/cph_geodk/processed
